{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
%}
<form method="GET">
  <h3 align="center">Acceder</h3>
  <div class="form-group">
    <label for="email">Correo electronico</label>
    <input
      type="text"
      class="form-control"
      id="email"
      name="email"
      placeholder="Introducir correo electrónico"
    />
  </div>
  <div class="form-group">
    <label for="password">Contrasena</label>
    <input
      type="text"
      class="form-control"
      id="password"
      name="password"
      placeholder="Introducir contrasena"
    />
  </div>
  ,<button type="submit" class="btn btn-primary">Acceder</button>
</form>
{% endblock %}
